/saves/
/build/
/.mixin.out/
/.modpack/
/crash-reports/
/logs/
/mods/
/shaderpacks/

/servers.dat
/reauth.toml
/usercache.json
/usernamecache.json
/patchouli_data.json
/realms_persistence.json
/natives/
/options.txt
/texturepacks
/schematics
/screenshots
/resourcepacks
/server-resource-packs
/coremods
/config
/modpack_includes
modlist.*